
h1{
font-size: 50px;
margin: 0;
text-align: center; 
color: #fe3501
}
p{
font-size: 21px; 
text-align: center;
font-weight: bold;
}
body{
background-color: #eeeeee;
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
}
h2{
font-size: 35px;
margin: 0;
text-align: center;   
color: #fe3501 
}
img.left{
    float: left;
    margin-right: 20px;
}
img.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.right{
    float: right;
    margin-right: 20px;
}
h3{
    font-size: 35px;
    margin: 20px;
    text-align: center;
    color: #fe3501
}
h4{
    font-size: 25px;
    margin: 20px;
    text-align: center;
    color: #fe3501
}
h5{
    font-size: 35px;
    Margin: 20px;
    text-align: center;
    color: #fe3501;
}